<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'MEMO app', root_path, id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%# TODO: '네비게이션 바 편집기.' %>
        <li><%=link_to 'HOME',root_path %></li>
        <li><%=link_to 'MEMO','#'%></li>
        <li><%=link_to 'LogIn','#'%></li>
      </ul>
    </nav>
  </div>
</header>